/* Media queray */

@media screen and (max-width:991px) {

    h3 {
        font-family: 1rem;
    }

    .nav-loggle {
        display: block;
        margin: 20px;
    }

    .main-nav {
        overflow: initial;
    }
    #nav-links{
        display: none;
    }
    
#nav-links.active {
    display: block;
}
    .nav-links {
        position:absolute;
        border: 2px solid rgb(129, 170, 198);
        background-color: rgb(251, 251, 251);
       right: 0px;
        top: 120px;
        width: 300px;
        padding-block: 20px;
        border-radius: 50px;
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links ul {
        flex-direction: column;
    }

    .Examlpe-area {
        gap: 20px;
        flex-direction: 5px column;
    }

    .Examlpe-card {
        width: calc(500px -10px);
        height: 200px;
    }
.examples-section{
    overflow: hidden;
}
    .cta-section {
        padding-block: 80px;
    }

}

@media screen and (max-width: 767px) {
    .primary-button {
        width: 100%;
    }

    .header-section {
        flex-direction: column-reverse;
    }

    .header-left {
        max-width: 100vw;
        text-align: center;
    }

    .features-crad {
        min-width: calc(50% - 10px);
    }

    .Examlpe-card {
        width: 100%;
        height: 30vh;
    }

    .big-features-container {
        flex-direction: column;
    }

    #second-bigfeature {
        flex-direction: column-reverse;
    }

    .link-column {
        align-items: stretch;
    }

    .examples-section {
        margin: 10px;

    }
}

@media screen and (max-width:479px) {
    :root {
        --padding-inline-section: 10px
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-family: 1rem;
    }

    p {
        font-size: 1rem;
    }

    .features-area {
        min-width: 100%;
        flex-direction: row;
        justify-content: start;
        display: inline-block;
    }

    .features-card {
        width: 100%;
    }

    .Examlpe-card {
        align-items: center;
        width: 300px
    }

    .Examlpe-heading-text {
        align-items: center;
    }
}